<div class="userInfoModify_clearTag1" id="info_tt:No">
  <div class="userInfoModify_labeTag1">:No</div>
  <div class="userInfoModify_inputTag1" title=":Name">
    <div class="cont_show">:Name</div>
  </div>
  <div class="userInfoModify_checkTag1">
    <div class="cont_show1">:ErrorCode</div>
  </div> 
  <div class="userInfoModify_labeTags1" title=":ErrorInfo">
    <div class="cont_show2">:ErrorInfo</div>
  </div> 
  <div class="userInfoModify_inputTags1">
    <div class="cont_show5">:CreateTime</div>
  </div> 
  
   <div class="userInfoModify_checkTags1">
    <div class="cont_show3">:SerialNo</div>
  </div> 
  <div class="userInfoModify_checkTagst1">
   <script type="text/javascript">
    
    	var Json:No = :RequestInfo;
    </script>
    <div class="cont_show4" onclick="alertDivInfo(:No,Json:No);">查看</div>
    <!-- <div id="requestCont:No" style="display: none; "><![CDATA[:RequestInfo]]></div> -->
    
    
  </div>
</div> 
 <div id="requestInfo:No" class="requestInfo" style="display: none; width:980px;margin:0 auto;border: #97B0F8 solid 0px;height:500px;margin-left:-1px;"></div>